app-form-control {
  width: 100%;
}

.cost-main,
.cost-info,
.cost-amounts,
.cost-price {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: flex-start;
}

.total-cost {
  width: 100%;
}

.form-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}