@use "utils" as u;

.c-checkout-stepper {
  padding: 9rem 1rem 1rem;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-outline);

  &--container {
    max-width: 900px;
    margin: auto;
    @include u.flex(row, space-between, flex-start);
    position: relative;

    .step {
      z-index: 2;
      flex: 1;
      position: relative;
      @include u.flex(column, center, center, 0.5rem);

      &:not(:last-child)::after {
        content: "";
        position: absolute;
        // Posicionar horizontalmente centrado con el badge
        top: 16px; // (32px de alto del badge / 2)
        left: calc(50% + 24px); // Inicia justo después del badge
        width: calc(100% - 48px); // Se estira hasta el badge del siguiente paso
        height: 2px;
        background-color: var(--color-outline);
        z-index: -1;
        transition: background-color 0.3s ease;

        @include u.style-up-to(tablet) {
          top: 12px; // (24px de alto del badge / 2)
          left: calc(50% + 18px);
          width: calc(100% - 36px);
        }
      }

      .step-badge {
        @include u.flex(row, center, center);
        border-radius: 50%;
        background-color: var(--color-bg-cream);
        border: 1px solid var(--color-outline);
        font-weight: 600;
        color: var(--color-text-muted);
        width: 32px;
        height: 32px;
        z-index: 2; // Queda por encima de la línea

        @include u.style-up-to(tablet) {
          width: 24px;
          height: 24px;
          font-size: var(--font-small);

          .icon {
            width: 1rem;
            height: 1rem;
            font-size: 1rem;
          }
        }
      }

      .step-label {
        font-size: 0.8rem;
        color: var(--color-text-muted);
        text-align: center;
      }

      &.done {
        .step-badge {
          background-color: var(--color-brand-blue);
          border-color: var(--color-brand-blue);
          color: #fff;
        }

        .step-label {
          color: var(--color-text-dark);
          font-weight: 600;
        }
        &::after {
          background-color: var(--color-brand-blue);
        }
      }
      &.active {
        .step-badge {
          background-color: var(--color-brand-coral);
          border-color: var(--color-brand-coral);
          color: #fff;
        }
        .step-label {
          color: var(--color-text-dark);
          font-weight: 600;
        }
        &::after {
          background-color: var(--color-outline);
        }
      }
    }
  }
}
