<header class="app-header">
  <a routerLink="/" class="logo-link">
    <img src="assets/images/nomada_logo_black.png" alt="Logo de la Aplicación" class="logo-image">
  </a>

  <nav>
    @if(logged) {
    <button mat-icon-button aria-label="Cerrar Sesion" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
    }
    <button mat-icon-button routerLink="/admin" aria-label="Ir a la sección de administración">
      <mat-icon>admin_panel_settings</mat-icon>
    </button>
  </nav>
</header>