// src/styles.scss
// @use "styles/theme-colors" as theme;
@use "styles/theme" as theme;
@use "styles/variables" as *;
@use "styles/mixins" as *;
@use "styles/breakpoints" as b;
@use "sass:map";
@use "sass:meta";

html,
body {
  height: 100%;
  margin: 0;
  font-family: $font-main;
}
html {
  @include theme.apply-theme();
}

h1,
h2 {
  font-family: $font-title;
  font-weight: 900;
  font-style: normal;
}

:root {
  // Mapeo automático de Colores corrigiendo el warning
  @each $name, $value in $colors {
    // meta.inspect asegura que $name se lea como texto puro, eliminando el warning de "white"
    --color-#{meta.inspect($name)}: #{$value};
  }

  // Los demás bucles pueden quedarse igual o asegurar con inspect por consistencia:
  @each $name, $value in $spacings {
    --space-#{meta.inspect($name)}: #{$value};
  }

  @each $name, $value in $radii {
    --radius-#{meta.inspect($name)}: #{$value};
  }

  @each $name, $value in $font-sizes {
    --font-#{meta.inspect($name)}: #{$value};
  }
}

// Por defecto en mobile todo es visible, pero creamos las reglas de ocultado
.hide-mobile {
  @include b.style-up-to(mobile) {
    display: none !important;
  }
}

.hide-tablet {
  // @media (min-width: 576px) and (max-width: 1023px) {
  @include b.style-only-for(tablet) {
    display: none !important;
  }
}

.hide-desktop {
  @include b.style-starting-from(desktop) {
    display: none !important;
  }
}

.page-container {
  min-height: 100%;
}

::ng-deep img.emoji {
  height: 1.2em;
  width: 1.2em;
  margin: 0 0.15em;
  vertical-align: -0.15em;
}
