@use '@angular/material' as mat;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
}


.alert-success .mat-mdc-snackbar-surface {
  background-color: #4CAF50 !important;
  color: white;
}

.alert-error .mat-mdc-snackbar-surface {
  background-color: #F44336 !important;
  color: white;
}

.alert-warning .mat-mdc-snackbar-surface {
  background-color: #FFC107 !important;
  color: black;
}

.alert-info .mat-mdc-snackbar-surface {
  background-color: #2196F3 !important;
  color: white;
}