@use "utils" as u;

.s-features-cards {
  // @include u.flex(column, center);
  padding: var(--space-xl);
  text-align: center;

  @include u.style-up-to(tablet) {
    padding: var(--space-xl) var(--space-md);
  }

  &--header {
    @include u.flex(column, center, center, 1rem);
    max-width: 750px;
    margin: 0 auto var(--space-xl) auto;
    @include u.style-up-to(desktop) {
      margin-bottom: 4.5rem;
    }

    &-title {
      font-size: clamp(2rem, 4vw, 3rem);
      color: var(--color-text-dark);
      font-weight: 800;
      margin: 0;
    }
    &-message {
      font-size: clamp(1rem, 2vw, 1.25rem);
      color: var(--color-text-muted);
      line-height: 1.5;
      margin: 0;
    }
  }
}
