
<div class="c-places-map">
    @if (mapService.mapReady) {
      <div class="c-places-map--info" [class.hidden]="hide" (click)="hide=true">
        <h1 class="c-places-map--info-title">
          {{'PUBLIC.PLACES.MAP.TITLE' | translate}}
        </h1>
        <p class="c-places-map--info-text" [innerHTML]="'PUBLIC.PLACES.MAP.MESSAGE' | translate"></p>
      </div>

      <google-map
        width="100%"
        height="100%"
        [options]="mapOptions">
        @for (marker of markers; track $index) {
          <map-advanced-marker [position]="marker.position" [title]="marker.label"
          (mapClick)="checkPlace(marker.id)"
          >
          </map-advanced-marker>
        }
      </google-map>
    }
    
    @if (options?.length) {
      <form class="c-places-map--search">
        <mat-form-field class="c-places-map--search-input">
          <mat-label>{{'PUBLIC.PLACES.FILTER.LABEL' | translate}}</mat-label>
          <input type="text"
            aria-label="Places"
            matInput
            [formControl]="searchControl"
            [matAutocomplete]="auto"
            (keypress.enter)="null">
          <mat-autocomplete  #auto="matAutocomplete" (optionSelected)="selectSearch($event.option.value)">
            @for (option of filteredOptions | async; track option) {
              <mat-option [value]="option">{{option}}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </form>
    }

</div>