# 1. Dependencias y Compilación (Global)
node_modules/
dist/
api/dist/      # Cambiado de /server/dist
client/dist/
.angular/      # Ignora .angular en cualquier nivel (raíz o client)

# 2. Angular 19 + Vite específicos
client/.angular/
.nx/cache/     # Por si en el futuro usas NX
.vite/         # Caché de Vite que suele dar problemas

# 3. NestJS específicos
/api/dist
/api/node_modules
*.tsbuildinfo  # Archivos de caché de compilación de TS

# 4. Entorno y Secretos
.env
.env.*
!.env.example  # Es buena práctica subir el .example para que otros sepan qué variables usar
.DS_Store      # Archivos de sistema (Mac)
Thumbs.db      # Archivos de sistema (Windows)

# 5. IDEs y Herramientas
.vscode/
!.vscode/settings.json
!.vscode/launch.json
.old-project/  # Muy importante para no ensuciar el repo nuevo con lo viejo