@use "utils" as u;

.c-overlap-cards {
  max-width: 900px;
  margin: var(--space-xxl) auto var(--space-xl);
  @include u.grid-columns(4, 0);
  justify-items: center;
  @include u.style-up-to(desktop) {
    margin: var(--space-lg) auto;
    grid-template-columns: repeat(2, 1fr);
    max-width: 450px;
  }
  @include u.style-up-to(mobile) {
    margin-top: 0rem;
    grid-template-columns: repeat(1, 1fr);
  }

  &--card {
    @include u.flex(column, center, center, 0.8rem);
    background-color: var(--color-white);
    border: 2px solid var(--color-text-dark);
    border-radius: var(--radius-card-xl);
    padding: 3rem 3.5rem;
    width: 145px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;

    @include u.style-starting-from(mobile) {
      margin-right: -20px;
      margin-left: -20px;
      &:nth-child(odd) {
        transform: translateY(30px);
        --hover-offset: 25px;
      }
      &:nth-child(even) {
        transform: translateY(-30px);
        --hover-offset: -35px;
      }
    }

    @include u.style-up-to(desktop) {
      margin-right: -30px;
      margin-left: -30px;
      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: -20px;
      }
      &:nth-child(3),
      &:nth-child(4) {
        margin-top: -20px;
      }
    }

    @include u.style-up-to(mobile) {
      margin: -20px 0 -30px;
      &:nth-child(odd) {
        // transform: translateX(15px);
        // --hover-offset: 25px;
        margin-right: auto;
      }
      &:nth-child(even) {
        margin-left: auto;
        // transform: translateX(-15px);
        // --hover-offset: -35px;
      }
    }

    &:hover {
      transform: translateY(-5px) scale(1.02) !important; // Hover sutil interactivo
      box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
      z-index: 3; // Se posiciona por encima al pasar el mouse
    }

    &__icon {
      width: 4rem;
      height: 4rem;
      margin-bottom: 0.5rem;
    }

    &__title {
      font-size: 1.15rem;
      font-family: var(--font-main);
      font-weight: 700;
      color: var(--color-text-dark);
      margin: 0;
    }
    &__text {
      font-size: 0.95rem;
      color: var(--color-text-muted);
      line-height: 1.4;
      margin: 0;
    }
  }
}
