<mat-drawer-container class="c-shopping-cart" hasBackdrop="true">
  <mat-drawer
    #drawer
    position="end"
    mode="over"
    [opened]="cartService.isOpen()"
    [class.is-expanded]="cartService.showDetails()"
    (closed)="cartService.closeCart()"
    class="c-shopping-cart--drawer">


    <!-- 1. PANEL IZQUIERDO: DETALLES DE LA RESERVA (Condicional) -->
    @if (cartService.showDetails()) {
      <app-cart-detail class="c-shopping-cart--details"></app-cart-detail>
    }

    <div class="c-shopping-cart--main">
      <div class="c-shopping-cart--header">
        <h3 class="c-shopping-cart--header-title">{{'PUBLIC.CART.TITLE' | translate}}</h3>
        <button mat-icon-button (click)="cartService.closeCart()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
  
      <div class="c-shopping-cart--body">
        @if (!cartService.booking()) {
          <div class="empty-cart">
            <div class="empty-icon" [innerHTML]="'🧺' | appleEmoji"></div>
            <p>{{'PUBLIC.CART.CART_EMPTY'| translate}}</p>
          </div>
        } @else {
          
          HAY COSAS
  
          <!-- TODO - LISTA DE PRODUCTOS -->
          <div class="cart-items">

            <!-- @for (item of cartService.items(); track additional.id) {
              <div class="cart-item">
                <span class="item-name">{{ additional.name }}</span>
                <span class="item-price">{{ additional.price | currency:'US$ ':'code':'1.0-2' }}</span>
              </div>
            } -->

          </div>
        }

        @if (cartService.additionals().length) {
          <div class="additionals-list">
            @for (additional of cartService.additionals(); track $index) {
              <div class="c-cart-additional">
                <div class="c-cart-additional--image">
                  <img 
                    [src]="additional.cost.images![0] | apiImageUrl"  
                    [alt]="additional.cost.name" />
                </div>
                <div class="c-cart-additional--info">
                  <h4 class="c-cart-additional--info-title">{{ additional.cost.name }}</h4>
                  <span class="c-cart-additional--info-price">{{ additional.cost.finalPrice | currency:'US$ ':'code':'1.0-0' }}</span>
                
                  @if(additional.cost.multipleAllowed) {
                    <div class="c-cart-additional--info-quantity">
                      <button 
                        type="button" 
                        class="qty-btn" 
                        (click)="decreaseAdditional(additional)" 
                        aria-label="Disminuir cantidad">
                        <mat-icon>remove</mat-icon>
                      </button>    
                      <span class="qty-value">{{ additional.quantity }}</span>
                      <button 
                        type="button" 
                        class="qty-btn" 
                        (click)="increaseAdditional(additional)" 
                        aria-label="Aumentar cantidad">
                        <mat-icon>add</mat-icon>
                      </button>
                    </div>
                  }
                </div>
                <div class="c-cart-additional--actions">
                  <span class="c-cart-additional--actions-subtotal">
                    {{ (additional.totalPrice) | currency:'US$ ':'code':'1.0-0' }}
                  </span>
                  <button type="button" class="c-cart-additional--actions-remove-btn" (click)="removeAdditional(additional)">
                    Quitar
                  </button>
                </div>
              </div>
            }
          </div>
        }
      </div>
  
      <div class="c-shopping-cart--footer">
        <div class="c-shopping-cart--footer-summary">
          <span class="c-shopping-cart--footer-summary-label">Total ({{ cartService.totalItems() }} productos)</span>
          <span class="c-shopping-cart--footer-summary-price">
            {{ cartService.totalAmount() | currency:'US$ ':'code':'1.0-2' }}
          </span>
        </div>
  
        @if (cartService.isIncomplete()) {
          <button
            class="c-shopping-cart--footer-button complete-book"
            (click)="cartService.toggleDetails()">
            {{'PUBLIC.CART.BUTTONS.CHECK_AVAILABILITY'|translate}}
          </button>
        }

        <button
          class="c-shopping-cart--footer-button checkin"
          [disabled]="!cartService.isIncomplete()">
          {{'PUBLIC.CART.BUTTONS.CHECKIN'|translate}}
        </button>
  
        @if (!cartService.booking()) {
          <small class="c-shopping-cart--footer-hint">{{'PUBLIC.CART.ADD_TO_CONTINUE'|translate}}</small>
        }
      </div>
    </div>
    
  </mat-drawer>

  <!-- CONTENIDO DE LA PÁGINA O ROUTER-OUTLET -->
  <mat-drawer-content>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>