
<div class="c-public-places">
    @if (mapService.mapReady) {
      <google-map
        width="100%"
        height="100%"
        [options]="mapOptions"
        [mapId]="mapService.apiKey">
        @for (marker of markers; track $index) {
          <map-advanced-marker [position]="marker.position" [title]="marker.label"
          (mapClick)="checkPlace(marker.id)"
          >
          </map-advanced-marker>
        }
      </google-map>
    }
    
    @if (options?.length) {
      <form class="c-public-places--search">
        <mat-form-field class="c-public-places--search-input">
          <mat-label>{{'PUBLIC.PLACES.FILTER.LABEL' | translate}}</mat-label>
          <input type="text"
            aria-label="Places"
            matInput
            [formControl]="searchControl"
            [matAutocomplete]="auto"
            (keypress.enter)="null">
          <mat-autocomplete  #auto="matAutocomplete" (optionSelected)="selectSearch($event.option.value)">
            @for (option of filteredOptions | async; track option) {
              <mat-option [value]="option">{{option}}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </form>
    }

</div>