.price-bar {
  background-color: #ffd9e1;
  padding: 2rem 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__price {
    margin-left: 1rem;

    &-amount {
      font-size: 1.5rem;
    }
  }

  &__buttons {
    margin-right: 1rem;
  }
}