<div class="c-additionals">
  <div class="c-additionals--hero">
    <div class="c-additionals--hero-content">
      <h1 class="c-additionals--hero-title">
        <span class="title-line">
          {{'PUBLIC.ADDITIONALS.HERO.TITLE.LINE_1' | translate}}
          <span class="highlight">{{'PUBLIC.ADDITIONALS.HERO.TITLE.LINE_2' | translate}}</span>
          {{'PUBLIC.ADDITIONALS.HERO.TITLE.LINE_3' | translate}}</span>
      </h1>
      <p class="c-additionals--hero-subtitle" [innerHTML]="'PUBLIC.ADDITIONALS.HERO.DESCRIPTION' | translate"></p>
      <div class="c-additionals--hero-input" [formGroup]="filterForm">
        <mat-icon class="search-icon">search</mat-icon>
        <input 
          type="text" 
          class="search-input" 
          placeholder="Buscar por nombre o palabra clave..." 
          formControlName="keyword"
        />
      </div>
    </div>
  </div>


  <div class="c-additionals--filters">
    <nav class="c-additionals--filters-tabs" aria-label="Filtro por categoría">
      @for (type of typesList; track $index) {
        <button 
          class="tab-btn" 
          [class.active]="filterForm.get('costType')?.value === type"
          (click)="selectCategory(type)">
          {{('COSTS.TYPES_DESCRIPTION.'+(type | uppercase)) | translate}}
        </button>
      }
    </nav>

    <!-- Fila de TAGS con Scroll Horizontal -->
     @if(tagList.length) {
       <div class="c-additionals--filters-tags">
         <span class="c-additionals--filters-tags_label">TAGS:</span>
         <div class="c-additionals--filters-tags_list">
           @for (tag of tagList; track tag) {
             <button 
               class="tag-chip"
               [class.selected]="filterForm.get('tags')?.value?.includes(tag)"
               (click)="toggleTag(tag)">
               {{ tag }}
             </button>
           }
         </div>
       </div>
     }
  </div>

  @if (filteredList.length) {
    <div class="c-additionals--list">
      @for (item of filteredList; track $index) {
        <article class="product-card" (click)="checkAdditional(item)">
          <div class="product-card__header">
            @if (item.images?.length) {
              <img [src]="item.images[0] | apiImageUrl" [alt]="item.name" class="product-card__image" />
            }
            <span class="badge badge--category">{{('COSTS.TYPES_DESCRIPTION.'+(item.type | uppercase)) | translate}}</span>
          </div>

          <div class="product-card__body">
            <h3 class="product-card__title">{{ item.name }}</h3>

            <div class="product-card__tags">
              @for (tag of item.tags?.slice(0,2); track $index) {
                <span class="tag">{{ tag }}</span>
              }
              @if(item.tags && item.tags.length > 3) {
                <span class="tag-more" >+{{ item.tags.length - 2 }}</span>
              }
            </div>
            <p class="product-card__description">
              {{ item.description }}
            </p>
            <div class="product-card__footer">
              <div class="product-card__price">
                <span class="amount">{{ item.finalPrice | currency: 'US$ ':'code':'1.0-2' }}</span>
              </div>

              <!-- // TODO - añadir al carrito -->
              <button type="button" class="btn-add">
                Ver
              </button>
            </div>
          </div>
        </article>
      }

    </div>
  } @else {
    <p class="c-additionals--no-list">{{'PUBLIC.ADDITIONALS.NO_LIST' | translate}}</p>
  }

</div>
