<div class="c-package-dialog">
  <button mat-icon-button mat-dialog-close class="close-btn" type="button">
    <mat-icon>close</mat-icon>
  </button>

  @if (package.image) {
    <div class="c-package-dialog--media">
      @if(package.tag) {
        <div class="c-package-dialog--media-pill">{{package.tag}}</div>
      }
      <div class="package-image">
        <img class="media-img" src="{{package.image | apiImageUrl}}" [alt]="package.name">
      </div>
    </div>
  }
  <div class="c-package-dialog--content">
    <div class="c-package-dialog--data">
      <h2 class="c-package-dialog--title">{{package.name}}</h2>
      @if (package.detail) {
        <div class="c-package-dialog--detail">{{package.detail}}</div>
      }
      <div class="c-package-dialog--includes">
        <div class="c-package-dialog--includes-title">
          {{'PUBLIC.PACKAGES.DETAIL.INCLUDES' | translate}}
        </div>
        <ul class="c-package-dialog--includes-list">
          @for (item of package.includedItems; track $index) {
            <li class="c-package-dialog--includes-list-item">
              <mat-icon class="check-icon">check</mat-icon>
              <span>{{item}}</span>
            </li>
          }
        </ul>
      </div>
      <div class="c-package-dialog--prices">
        <div class="c-package-dialog--prices-label">{{'PUBLIC.PACKAGES.PRICES.LABEL' | translate}}</div>
        <h3 class="c-package-dialog--prices-title">{{'PUBLIC.PACKAGES.PRICES.TITLE' | translate}}</h3>
        <p class="c-package-dialog--prices-text">{{'PUBLIC.PACKAGES.PRICES.TEXT' | translate}}</p>
        <app-guests-prices [packageId]="package._id" (selectPrice)="selectPrice($event)"></app-guests-prices>
      </div>
      <div class="c-package-dialog--events">
        <div class="c-package-dialog--events-label">{{'PUBLIC.PACKAGES.EVENTS.LABEL' | translate}}</div>
        <h3 class="c-package-dialog--events-title">{{'PUBLIC.PACKAGES.EVENTS.TITLE' | translate}}</h3>
        <p class="c-package-dialog--events-text">{{'PUBLIC.PACKAGES.EVENTS.TEXT' | translate}}</p>
        <app-event-selector (selectEvent)="selectEvent($event)"></app-event-selector>
      </div>

    </div>

    <div class="c-package-dialog--actions">
      <button class="c-package-dialog--actions-add" [disabled]="!selectedPrice || !selectedEvent" [mat-dialog-close]="{group: selectedPrice, event: selectedEvent}">{{'PUBLIC.PACKAGES.DETAIL.BUTTON' | translate}}</button>
    </div>
  </div>
</div>

