mat-form-field {
  width: 100%;
  margin-bottom: 20px !important;
}

.mat-datepicker-toggle {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

::ng-deep {
  .mat-mdc-form-field:not(.ng-touched) .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused).mdc-text-field--invalid {
    .mat-mdc-notch-piece {
      // border-color: green !important;
      border-color: inherit !important;
      box-shadow: none !important;
      border-width: 1px !important
    }

    .mdc-floating-label {
      color: inherit !important;
    }
  }

  .mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
    border-left: 1px solid #00000000 !important;
  }

}



// ::ng-deep .mat-mdc-form-field:not(.show-errors) .mdc-text-field--invalid {
//   border-color: inherit !important;
//   box-shadow: none !important;
// }