@use "utils" as u;

.s-picnics-banner {
  position: relative;
  padding: 2rem 1rem 0;
  background: url("/images/graphics/trazo_home_picnics_01.png") no-repeat
    var(--color-bg-softcream);
  background-size: auto;
  background-position: bottom;
  @include u.flex(column);

  @include u.style-starting-from(mobile) {
    padding: 2rem 2rem 0;
    margin-bottom: 0;
  }
  @include u.style-starting-from(tablet) {
    margin-bottom: 1rem;
    padding: 4rem 3rem 0;
  }

  &--container {
    background-color: var(--color-brand-lime);
    border-radius: var(--radius-card-xl);
    padding: 2rem;
    @include u.flex(column-reverse);
    max-width: 900px;
    margin: 0 auto;

    @include u.style-starting-from(mobile) {
      padding: 3rem;
    }
    @include u.style-starting-from(tablet) {
      padding: 4rem 5rem;
      flex-direction: row;
      justify-content: space-between;
      gap: 3rem;
    }
  }

  &--content {
    z-index: 2;
    text-align: right;
    color: var(--color-brand-purple);

    .banner-subtitle {
      font-size: clamp(1.4rem, 2.5vw, 1.8rem);
      font-family: var(--font-title);
      font-weight: 900;
      display: block;
      line-height: 1.1;
    }

    .banner-title {
      font-size: clamp(2.7rem, 5vw, 3.5rem); // Escalado fluido tipográfico
      font-family: var(--font-title);
      margin: 0 0 1.5rem 0;
      line-height: 0.95;
    }

    .banner-text {
      font-size: 1.1rem;
      line-height: 1.4;
      max-width: 480px;
      margin: 0 auto 2rem auto;
      font-weight: 500;
    }

    .btn-nomada-purple {
      @include u.custom-button(var(--color-brand-purple), var(--color-white));
      font-weight: 500;
    }
  }

  &--media {
    @include u.flex(row, left, center);
    margin: -3rem 0 -20rem 0rem;
    z-index: 1;

    @include u.style-up-to(small) {
      margin: -3rem 0 -20rem -6rem;
    }

    @include u.style-starting-from(mobile) {
      margin: -3rem 10rem -22rem -1rem;
    }

    @include u.style-starting-from(tablet) {
      margin: -9rem -2rem;
      position: relative;
    }

    .polaroid-wrapper {
      background-color: var(--color-white);
      padding: 32px 24px 125px 24px;
      box-shadow: 2px 6px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: var(--radius-polaroid);
      transform: rotate(-8deg) translateX(-40px); // Se sale ligeramente del contenedor hacia la izquierda
      width: 100%;
      max-width: 200px;
      transition: transform 0.3s ease;

      @include u.style-starting-from(mobile) {
        max-width: 290px;
      }
      @include u.style-starting-from(tablet) {
        max-width: 360px;
      }

      @include u.style-starting-from(small) {
        &:hover {
          transform: rotate(-2deg) scale(1.02); // Pequeño feedback al pasar el mouse
        }
      }

      .polaroid-img {
        display: block;
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1; // Hace que la foto interna sea un cuadrado perfecto
        object-fit: cover;
      }
    }
  }

  &--divider {
    z-index: 0;
    div {
      margin: 0rem auto 0;
      background-color: var(--color-black);
      width: 2px;
      height: 20rem;
      @include u.style-starting-from(mobile) {
        height: 23rem;
      }
      @include u.style-starting-from(tablet) {
        height: 7rem;
      }
    }
  }
}
