<section class="s-picnics-banner">
  <div class="s-picnics-banner--container">
    
    <div class="s-picnics-banner--media">
      <div class="polaroid-wrapper">
        <img src="images/picnics/home_image.jpg" alt="{{'PUBLIC.BANNERS.PICNICS.IMG_ALT' | translate}}" class="polaroid-img">
      </div>
    </div>

    <div class="s-picnics-banner--content">
      <span class="banner-subtitle">{{'PUBLIC.BANNERS.PICNICS.PRE_TITLE' | translate}}</span>
      <h2 class="banner-title">{{'PUBLIC.BANNERS.PICNICS.TITLE' | translate}}</h2>
      <p class="banner-text">
        {{'PUBLIC.BANNERS.PICNICS.TEXT' | translate}}
      </p>
      <a routerLink="/picnics" class="btn-nomada-purple">
        {{'PUBLIC.BANNERS.PICNICS.BUTTON' | translate}}
      </a>
    </div>

  </div>
  <div class="s-picnics-banner--divider">
    <div></div>
  </div>
</section>