<div class="container">
  <h3>{{"CALCULATOR.TITLE" | translate}}</h3>
  <p>{{"CALCULATOR.SUBTITLE" | translate}}</p>
  <div class="suggestions">
    <!-- TODO - Componente de cards de sugerencias -->
  </div>
</div>
<!-- TODO - añadir linear al stepper -->
<mat-stepper [selectedIndex]="selectedIndex" [orientation]="(stepperOrientation | async)!"
  (selectedIndexChange)="selectionChanged($event);" #stepper>
  @for (step of steps; track $index) {
  <mat-step [label]="'Paso ' + step" [stepControl]="getStepForm(step)">

    @switch (step) {
    @case ('production') {
    <app-production-form [form]="getStepForm(step)"></app-production-form>
    }
    @case ('additionals') {
    <app-additionals-form [form]="getStepForm(step)"></app-additionals-form>
    }
    @case ('food') {
    <app-food-form [form]="getStepForm(step)"></app-food-form>
    }
    @case ('contact') {
    <app-client-contact-form [form]="getStepForm(step)"></app-client-contact-form>
    }
    @default {
    <app-basics-form [form]="getStepForm(step)"></app-basics-form>
    }
    }

    <div>
      @if ($index > 0) {
      <button mat-button (click)="goBackward(stepper)">{{'COMMON.PREVIOUS' | translate}}</button>
      }
      @if ($index + 1 != steps.length){
      <button mat-button (click)="goForward(stepper)">{{'COMMON.NEXT' | translate}}</button>
      } @else {
      <button mat-button>{{'COMMON.FINALIZE' | translate}}</button>
      }
    </div>
  </mat-step>
  }
</mat-stepper>