<div class="container">
  <h3>{{"CALCULATOR.TITLE" | translate}}</h3>
</div>
<!-- TODO - añadir linear al stepper -->
<mat-horizontal-stepper #stepper [selectedIndex]="selectedIndex" [orientation]="(stepperOrientation | async)!"
  (selectedIndexChange)="selectionChanged($event);">
  @for (step of steps; track $index) {
  <mat-step [label]="'Paso ' + step" [stepControl]="getStepForm(step)">

    @switch (step) {
    @case ('production') {
    <app-production-form [form]="getStepForm(step)"></app-production-form>
    }
    @case ('additionals') {
    <app-additionals-form [form]="getStepForm(step)"></app-additionals-form>
    }
    @case ('food') {
    <app-food-form [form]="getStepForm(step)"></app-food-form>
    }
    @case ('contact') {
    <app-client-contact-form [form]="getStepForm(step)"></app-client-contact-form>
    }
    @default {
    <app-basics-form [form]="getStepForm(step)"></app-basics-form>
    }
    }

    <ng-container *ngTemplateOutlet="stepperButtonsTemplate; context: { index: $index }"></ng-container>
  </mat-step>
  }
</mat-horizontal-stepper>

<ng-template #stepperButtonsTemplate let-index="index">
  <div>
    @if (index > 0) {
    <button mat-button (click)="goBackward(stepper)">{{'COMMON.PREVIOUS' | translate}}</button>
    }
    @if (index + 1 != steps.length){
    <button mat-button (click)="goForward(stepper)">{{'COMMON.NEXT' | translate}}</button>
    } @else {
    <button mat-button>{{'COMMON.FINALIZE' | translate}}</button>
    }
  </div>
</ng-template>