@use "utils" as u;

.s-additionals-banner {
  width: 100%;
  background-color: var(--color-brand-pink);
  margin: 2rem 0;

  @include u.style-starting-from(desktop) {
    margin: 8rem 0 6rem;
  }

  &--container {
    @include u.flex(column-reverse, center, center, var(--space-lg));
    padding: 1rem;
    margin: 0 0 22rem;

    @include u.style-starting-from(mobile) {
      margin: 0 0 26rem;
    }

    @include u.style-starting-from(tablet) {
      margin: 0 0 28rem;
    }

    @include u.style-starting-from(desktop) {
      @include u.flex(row, center, center, var(--space-xl));
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  &--content {
    @include u.flex(column, start);
    color: var(--color-white);
    max-width: 600px;
    @include u.style-starting-from(desktop) {
      max-width: 450px;
    }

    &-title {
      font-size: clamp(1.5rem, 3vw, 1.8rem);
      letter-spacing: 1px;
      margin-bottom: 0.5rem;
      font-family: var(--font-title);
      line-height: 1.2;
      .grand-title {
        font-size: clamp(2rem, 4vw, 3rem);
        display: block;
      }
    }
    &-desc {
      line-height: 1.4;
      margin-bottom: 2rem;
    }

    &-button {
      @include u.custom-button(var(--color-brand-pink), var(--color-white));
      @include u.button-compact();
      font-weight: 500;
      margin-left: auto;
      padding-left: 2rem;

      .icon-circle {
        width: 36px;
        height: 36px;
        background-color: var(--color-brand-pink);
        color: var(--color-white);
        border-radius: var(--radius-button);
        @include u.flex(row, center, center);
        margin-left: 1.5rem;

        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
  }

  &--carousel {
    position: relative;
    display: block;

    &-card {
      background-color: var(--color-bg-cream);
      border: 2px solid var(--color-text-muted);
      border-radius: var(--radius-card-xl);
      @include u.flex(column, center, center);
      overflow: hidden;
      padding: 0rem;
      position: relative;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
      margin-bottom: -125%;
      max-width: 330px;

      app-carousel {
        flex-shrink: 0; // 👈 Evita de raíz que Safari intente encoger vertical u horizontalmente el carrusel
        width: 100%; // Asegura el ancho completo asignado
      }

      @include u.style-starting-from(mobile) {
        max-width: 380px;
      }

      @include u.style-starting-from(desktop) {
        min-width: 200px;
        max-width: 450px;
        margin: -8rem 0;
      }

      .product-card {
        @include u.flex(column, space-between, stretch);
        padding: 3rem 3rem 5rem;
        // height: 100%;

        &--image {
          position: relative;
          width: 100%;
          margin-bottom: 1.5rem;

          .product-img {
            width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            border-radius: var(--radius-card-md);
          }

          .badge-tag {
            position: absolute;
            top: 15px;
            left: -10px;
            background-color: var(--color-brand-pink);
            color: var(--color-white);
            font-weight: 700;
            font-size: 0.85rem;
            padding: 0.4rem 1.1rem;
            border-radius: var(--radius-button);
          }
        }

        &-content {
          height: 100%;
          &--title {
            font-family: var(--font-main);
            font-size: 1.5rem;
            margin: 0 0 0.5rem 0;
          }

          &--desc {
            color: var(--color-text-muted);
            line-height: 1.4;
            margin: 0 0 1rem 0;
          }

          &--price {
            margin-top: auto;
            font-family: var(--font-money);
            font-weight: 500;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

:host ::ng-deep {
  // 💡 Apuntamos a los controles del carrusel desde el padre
  .c-carousel--arrows {
    top: 30%;
    @include u.style-starting-from(mobile) {
      top: 35%;
    }
  }
  .c-carousel--dots {
    bottom: 2.5rem;
  }
}

app-carousel {
  width: 100%;
}
