<section class="c-checkout-payment">

  @if(!loadPayment) {
    <!-- Encabezado -->
    <header class="c-checkout-payment--header">
      <h1 class="c-checkout-payment--header-title">
        {{'CHECKOUT.PAYMENT.HEADER.TITLE_1' | translate}} <span class="highlighted">{{'CHECKOUT.PAYMENT.HEADER.TITLE_2' | translate}}</span>
      </h1>
      <p class="c-checkout-payment--header-subtitle">
        {{'CHECKOUT.PAYMENT.HEADER.SUBTITLE' | translate}}
      </p>
    </header>

    @if(showErrorAlert()){
      <div class="c-checkout-payment--error">
        <button class="c-checkout-payment--error-close" (click)="showErrorAlert.set(false)">
          <mat-icon>close</mat-icon>
        </button>
        <div class="c-checkout-payment--error-icon">
          <span [innerHTML]="'⚠️' | appleEmoji"></span>
        </div>
        <div class="c-checkout-payment--error-content">
          <h3 class="c-checkout-payment--error-content-title">{{'CHECKOUT.PAYMENT.ERROR.TITLE' | translate}}</h3>
          <p class="c-checkout-payment--error-content-text">{{'CHECKOUT.PAYMENT.ERROR.TEXT' | translate}}</p>
        </div>

      </div>
    }
  
    <!-- Tarjeta Principal -->
    <div class="c-checkout-payment--card">
      <div class="c-checkout-payment--card-details">
        <div class="c-checkout-payment--card-row">
          <span class="c-checkout-payment--card-label">{{'CHECKOUT.PAYMENT.REFFERENCE' | translate}}</span>
          <span class="c-checkout-payment--card-value c-checkout-payment--card-value--code">
            {{ tempBookingCode }}
          </span>
        </div>
  
        <div class="c-checkout-payment--card-row">
          <span class="c-checkout-payment--card-label">{{'COMMON.EXPERIENCE' | translate}}</span>
          <span class="c-checkout-payment--card-value">
            {{ booking()?.package?.name || 'Picnic Signature' }}
          </span>
        </div>
      </div>
      @if(!isUsd()) {
        <div class="c-checkout-payment--card-row c-checkout-payment--card-base-price">
            <div class="price-info">
              <span class="price-info--title">
                {{'CHECKOUT.PAYMENT.BASE_PRICE.TITLE' | translate}}
              </span>
              <span class="price-info--subtitle">
                {{'CHECKOUT.PAYMENT.BASE_PRICE.SUBTITLE' | translate}}
              </span>
            </div>
            <span class="base-price">
              {{ totalAmount() | customCurrency:'USD' }}
            </span>
        </div>
      }
      <div class="c-checkout-payment--card-exchange">
        <div class="exchange-info">
          <div class="exchange-info--selector">
            <p class="exchange-info--selector-label">
              {{'CHECKOUT.PAYMENT.EXCHANGE.SELECTOR_LABEL' | translate}}
            </p>
            <app-currency-selector></app-currency-selector>
          </div>
          @if(!isUsd()) {
            <p class="exchange-value">
              {{'CHECKOUT.PAYMENT.EXCHANGE.VALUE_LABEL' | translate}}
              <span class="exchange-value--amount">
                {{ 1 | customCurrency:undefined:true }} = {{1 | customCurrency:'USD':false:0 }}
              </span>
            </p>
          }
        </div>
        <div class="exchange-prices">
          <span class="exchange-prices--label">{{'CHECKOUT.PAYMENT.EXCHANGE.PRICE_LABEL' | translate}}</span>
          <span class="exchange-prices--amount">{{ totalAmount() | customCurrency }}</span>
          @if(!isUsd()) {
            <span class="exchange-prices--hint">{{'CHECKOUT.PAYMENT.EXCHANGE.BASE_PRICE' | translate:({price: totalAmount() | customCurrency:'USD'})}}</span>
          }
        </div>
      </div>

      <!-- Métodos Disponibles -->
      <div class="c-checkout-payment--card-methods" [formGroup]="form">
        <div class="c-checkout-payment--card-methods__main-title">
            {{'CHECKOUT.PAYMENT.METHODS.TITLE' | translate}}
        </div>
        <mat-radio-group formControlName="payMethod">
          <div class="c-checkout-payment--card-methods-collapse">
            <mat-radio-button [value]="PAYMENT_METHODS.MP">
              <span class="c-checkout-payment--card-methods-collapse-title">{{'CHECKOUT.PAYMENT.METHODS.MP_TITLE' | translate}}</span>
            </mat-radio-button>
            @if (form.get('payMethod')!.value == PAYMENT_METHODS.MP) {
              <div class="c-checkout-payment--card-methods-content" @expandCollapse>
                <span class="c-checkout-payment--card-methods-title">
                  {{'CHECKOUT.PAYMENT.METHODS.MP_LABEL' | translate}}
                </span>
                <div class="c-checkout-payment--card-tags">
                  @for (method of MP_PAYMENTH_METHODS; track method) {
                    <span class="c-checkout-payment--card-tag">{{'CHECKOUT.PAYMENT.METHODS.'+method | translate}}</span>
                  }
                </div>
              </div>
            }
          </div>

          <div class="c-checkout-payment--card-methods-collapse">
            <mat-radio-button [value]="PAYMENT_METHODS.OTHER">
              <span class="c-checkout-payment--card-methods-collapse-title">{{'CHECKOUT.PAYMENT.METHODS.OTHER_TITLE' | translate}}</span>
            </mat-radio-button>
            @if (form.get('payMethod')!.value && form.get('payMethod')!.value != PAYMENT_METHODS.MP) {
              <div class="c-checkout-payment--card-methods-content" @expandCollapse>
                <span class="c-checkout-payment--card-methods-title">
                  {{'CHECKOUT.PAYMENT.METHODS.OTHER_LABEL' | translate}}
                </span>
                <mat-radio-group class="c-checkout-payment--card-tags" formControlName="payMethod">
                  @for (method of OTHER_PAYMENTH_METHODS; track method) {
                    <mat-radio-button [value]="method" class="c-checkout-payment--card-tag radio-tag" [class.active]="form.get('payMethod')!.value == method">
                    {{'CHECKOUT.PAYMENT.METHODS.'+method | translate}}
                  </mat-radio-button>
                  }
                </mat-radio-group>
              </div>
            }
          </div>
        </mat-radio-group>
      </div>

      <div class="c-checkout-payment--card-options" [formGroup]="form">
        <div class="c-checkout-payment--card-options__main-title">
            {{'CHECKOUT.PAYMENT.OPTIONS.TITLE' | translate}}
        </div>
        <mat-radio-group class="c-checkout-payment--card-options-items" formControlName="paymentOption">
          <div class="c-checkout-payment--card-options-item" 
          [class.active]="this.form.get('paymentOption').value == PAYMENT_OPTIONS.DEPOSIT"
          (click)="selectOption(PAYMENT_OPTIONS.DEPOSIT)">
            <mat-radio-button [value]="PAYMENT_OPTIONS.DEPOSIT">
              <p class="c-checkout-payment--card-options-item-title">
                {{'CHECKOUT.PAYMENT.OPTIONS.DEPOSIT_TITLE' | translate}}
                <span class="subtitle">{{'CHECKOUT.PAYMENT.OPTIONS.DEPOSIT_SUBTITLE' | translate}}</span>
              </p>
            </mat-radio-button>
            <div class="c-checkout-payment--card-options-item-info">
              <div class="item-info--price">
                <span class="item-info--price-label">{{'CHECKOUT.PAYMENT.OPTIONS.DEPOSIT_LABEL' | translate}}</span>
                <span class="item-info--price-amount">{{(totalAmount()/2)| customCurrency:'ARS':true}}</span>
                <span class="item-info--price-hint">({{(totalAmount()/2) | customCurrency:'USD':false:0}})</span>
              </div>
              <div class="item-info--pending">
                <span class="item-info--pending-label">{{'CHECKOUT.PAYMENT.OPTIONS.PENDING_LABEL' | translate}}</span>
                <span class="item-info--pending-amount">{{(totalAmount()/2) | customCurrency:'USD':false:0}}</span>
              </div>
              <div class="item-info--message">
                <mat-icon class="item-info--message-icon">info_i</mat-icon>
                <div class="item-info--message-text" [innerHTML]="'CHECKOUT.PAYMENT.OPTIONS.DEPOSIT_TEXT' | translate"></div>
              </div>
            </div>
          </div>

          <div class="c-checkout-payment--card-options-item" 
          [class.active]="this.form.get('paymentOption').value == PAYMENT_OPTIONS.FULL"
          (click)="selectOption(PAYMENT_OPTIONS.FULL)">
            <mat-radio-button [value]="PAYMENT_OPTIONS.FULL">
              <p class="c-checkout-payment--card-options-item-title">
                {{'CHECKOUT.PAYMENT.OPTIONS.FULL_TITLE' | translate}}
                <span class="subtitle">{{'CHECKOUT.PAYMENT.OPTIONS.FULL_SUBTITLE' | translate}}</span>
              </p>
            </mat-radio-button>
            <div class="c-checkout-payment--card-options-item-info">
              <div class="item-info--price">
                <span class="item-info--price-label">{{'CHECKOUT.PAYMENT.OPTIONS.TOTAL_LABEL' | translate}}</span>
                <span class="item-info--price-amount">{{totalAmount()| customCurrency:'ARS':true}}</span>
                <span class="item-info--price-hint">({{totalAmount() | customCurrency:'USD':false:0}})</span>
              </div>
              <div class="item-info--message">
                <mat-icon class="item-info--message-icon check-green">check_circle</mat-icon>
                <div class="item-info--message-text">{{'CHECKOUT.PAYMENT.OPTIONS.TOTAL_TEXT' | translate}}</div>
              </div>
            </div>
          </div>
        </mat-radio-group>
      </div>

  
      <!-- Acciones -->
      <div class="c-checkout-payment--card-actions">
        <button class="c-checkout-payment--card-btn-total" 
          [disabled]="form.invalid" (click)="onPay()">
          {{'CHECKOUT.PAYMENT.BUTTONS.TOTAL' | translate}}
        </button>
        <button class="c-checkout-payment--card-btn-back" (click)="onBack()">
          {{'CHECKOUT.PAYMENT.BUTTONS.BACK' | translate}}
        </button>
      </div>
    </div>
  
    <!-- Banner de Seguridad -->
    <div class="c-checkout-payment--security-banner">
      <div class="c-checkout-payment--security-icon">🔒</div>
      <div class="c-checkout-payment--security-info">
        <h4>{{'CHECKOUT.PAYMENT.SECURITY.TITLE' | translate}}</h4>
        <p>{{'CHECKOUT.PAYMENT.SECURITY.MESSAGE' | translate}}</p>
      </div>
    </div>
  } @else {
    <div class="c-checkout-payment--loader">
      <app-loader size="medium"></app-loader>
      <h2 class="c-checkout-payment--loader-title">
        {{'CHECKOUT.PAYMENT.LOADER.TITLE_'+(this.form.value['payMethod'] == 'MP' ? 'PAYMENT' : 'BOOKING') | translate}}
      </h2>
      <p class="c-checkout-payment--loader-text" 
        [innerHTML]="'CHECKOUT.PAYMENT.LOADER.TEXT_'+(this.form.value['payMethod'] == 'MP' ? 'PAYMENT' : 'BOOKING') | translate">
      </p>
    </div>
  }



</section>