@if (control) {
<mat-form-field [floatLabel]="type=='file' ? 'always': 'auto'"
  [class.mat-form-field-invalid]="control.invalid && (control.touched || control.dirty)">

  <mat-label>{{ label }}</mat-label>

  @if(prefix) {
  <span matTextPrefix>{{prefix}} &nbsp;</span>
  }

  @if(INPUT_TYPE.indexOf(type) >= 0) {
  <input matInput [type]="type" [formControl]="control">
  }
  @if(type == 'textarea') {
  <textarea matInput [type]="type" [formControl]="control" [placeholder]="placeholder"></textarea>
  }

  @if(type == 'select' && options.length) {
  <mat-select [formControl]="control">
    @for (options of options; track options) {
    <mat-option [value]="options.value">{{options.text | translate}}</mat-option>
    }
  </mat-select>
  }

  @if(type == 'file') {
  <input matInput type="text" readonly="" [formControl]="control" class="fake-control" style="display: none;">
  <input type="file" (change)="onFileChange($event)" multiple (cancel)="$event.stopPropagation()">
  }



  @if(type == 'date') {
  <input matInput (focus)="picker.open()" readonly [min]="today" [matDatepicker]="picker" [formControl]="control" />
  <ng-container>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </ng-container>
  }

  @if (suffix) {
  <span matSuffix>{{suffix}} &nbsp;</span>
  }

  @if (hints.length) {
  <mat-hint>
    @for (hint of hints; track $index) {
    <span class="control-hint">{{hint | translate}}</span>
    }
  </mat-hint>
  }

  @if (control.hasError('min') && !control.hasError('required')) {
  <mat-error>{{ 'COMMON.ERRORS.MIN_VALUE_FIELD' | translate: (control.errors && control.errors['min']) }}</mat-error>
  }
  @if (control.hasError('max') && !control.hasError('required')) {
  <mat-error>{{ 'COMMON.ERRORS.MAX_VALUE_FIELD' | translate: (control.errors && control.errors['max']) }}</mat-error>
  }
  @if (control.hasError('email') && !control.hasError('required')) {
  <mat-error>{{ 'COMMON.ERRORS.INVALID_FIELD' | translate }}</mat-error>
  }
  @if (control.hasError('maxlength') && !control.hasError('required')) {
  <mat-error>
    {{ 'COMMON.ERRORS.MAX_CHARACTERS_FIELD' | translate: {max:control.errors!['maxlength'].requiredLength} }}
  </mat-error>
  }
  @if (control.hasError('required') && control.touched) {
  <mat-error [innerHTML]="'COMMON.ERRORS.REQUIRED_FIELD' | translate"></mat-error>
  }
</mat-form-field>


}