<section class="c-hero">
  
  <div class="c-hero--content">
    <h1 class="c-hero--title">
      <!-- 'PUBLIC.HERO.TITLE' | translate -->
      <span class="title-line line-1">
        {{'PUBLIC.HERO.TITLE.LINE_1_1' | translate}} 
        <span class="highlight">{{'PUBLIC.HERO.TITLE.LINE_1_2' | translate}}</span>
      </span>
      <span class="title-line line-2">
        {{'PUBLIC.HERO.TITLE.LINE_2_1' | translate}}
        <span class="highlight">{{'PUBLIC.HERO.TITLE.LINE_2_2' | translate}}</span>
        {{'PUBLIC.HERO.TITLE.LINE_2_3' | translate}}</span>
    </h1>
    <p class="c-hero--subtitle" [innerHTML]="'PUBLIC.HERO.DESCRIPTION' | translate"></p>
  </div>
  
  <div class="waves-container">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>
  
  @if (nextSection) {
    <button class="c-hero--arrow" (click)="scrollToNext(nextSection)">
      <mat-icon>expand_more</mat-icon>
    </button>
  }
</section>
