.food-toogle {
  margin-bottom: .5rem
}

::ng-deep.food-toogle label {
  font-size: 1.5rem
}

.food-item {
  display: flex;
  gap: 2rem;
  padding: 1rem
}

.food-forms {
  margin-bottom: 2rem;
}

.food-item__detail {
  width: 100%;

  .food-item__description {
    margin-left: 1.5rem
  }
}


.food-quantity {
  width: 300px;
}