<form class="food-form" [formGroup]="form">
  <p>{{ 'CALCULATOR.FOOD.GIFT_TEXT' | translate }}</p>
  <app-form-control [control]="form.get('giftText') | asFormControl"
    label="{{ 'CALCULATOR.FOOD.GIFT_PLACEHOLDER' | translate }}" type="textarea">
  </app-form-control>

  @if ((foodList$ | async); as foodList) {
  <h6>{{'CALCULATOR.FOOD.ADDITIONAL_FOOD' | translate}}</h6>
  @if ((form.get('items') | asFormArray)?.controls?.length) {
  <div formArrayName="items" class="food-forms">
    @for (food of foodList; track $index) {
    <div [formGroup]="getFoodForm($index)" class="food-item">

      <div class="food-item__detail">
        <mat-slide-toggle formControlName="selected" class="food-toogle">
          {{ food.name }}
        </mat-slide-toggle>
        <p class="food-item__description">
          {{food.description}}.<br>
          Costo: {{food.finalPrice | currency}}<br>
          {{'CALCULATOR.FOOD.FOOD_COVERAGE' | translate: food}}
        </p>
      </div>
      @if (getFoodForm($index).get('selected')?.value) {
      <app-form-control [control]="getQuantityControl($index)" label="{{ 'CALCULATOR.FOOD.QUIANTITY' | translate }}"
        type="number" class="food-quantity">
      </app-form-control>
      }
    </div>

    <mat-divider></mat-divider>
    }
  </div>
  }
  }

</form>