<app-hero [nextSection]="infoSection"></app-hero>


<div #infoSection>
  <app-features-cards ></app-features-cards>
</div>



<section class="s-places-carousel">
  <app-places-carousel></app-places-carousel>  
</section>

<section class="s-steps-info">
  <h2 class="s-steps-info--title">{{'PUBLIC.STEPS.TITLE' | translate}}</h2>
  <div class="s-steps-info--list">
    @for (step of stepCards; track $index){
      <div class="s-steps-info--list-item" [class.invert]="!($index%2)">
        <div class="s-steps-info--list-item__number"><span>{{step.step}}</span></div>
        <div class="s-steps-info--list-item__text">{{step.label | translate}}</div>
      </div>
    }
  </div>
</section>

<section class="s-additionals-info">
  <a class="s-additionals-info--container" routerLink="/additionals">
    <h3 class="s-additionals-info--title">{{'PUBLIC.ADDITIONALS.TITLE' | translate}}</h3>
    <p class="s-additionals-info--subtitle">{{'PUBLIC.ADDITIONALS.SUBTITLE' | translate}}</p>
    <mat-icon class="s-additionals-info--icon">chevron_right</mat-icon>
  </a>
  
</section>

