<app-hero [nextSection]="infoSection"></app-hero>


<div #infoSection>
  <app-features-cards></app-features-cards>
</div>

<app-picnics-banner></app-picnics-banner>


<app-info-steps></app-info-steps>

<section class="s-places-carousel">
  <app-places-carousel></app-places-carousel>  
</section>




<section class="s-additionals-info">
  <a class="s-additionals-info--container" routerLink="/additionals">
    <h3 class="s-additionals-info--title">{{'PUBLIC.ADDITIONALS.TITLE' | translate}}</h3>
    <p class="s-additionals-info--subtitle">{{'PUBLIC.ADDITIONALS.SUBTITLE' | translate}}</p>
    <mat-icon class="s-additionals-info--icon">chevron_right</mat-icon>
  </a>
  
</section>

