@use "utils" as u;

.c-policy {
  &-hero {
    background-color: var(--color-brand-blue);
    @include u.flex(row);
    padding: 120px var(--space-md) var(--space-lg);

    &--content {
      max-width: 600px;
      margin: auto;
      text-align: center;
      color: var(--color-white);

      &-legal {
        margin-top: 0;
        letter-spacing: 3px;
        @include u.pill(var(--color-white), var(--color-white50));
        font-weight: 300;
      }

      &-title {
        margin: 1rem 0;
        font-size: clamp(2.5rem, 3.2vw, 4rem);
        text-transform: uppercase;
      }
    }
  }

  &-policies {
    max-width: 680px;
    margin: auto;
    padding: var(--space-lg) var(--space-md);

    &--subtitle {
      text-align: justify;
      margin-bottom: var(--space-xl);
    }
    &--item {
      margin: var(--space-lg) 0 var(--space-xl);
      .term-title {
        color: var(--color-brand-blue);
        text-transform: uppercase;
      }

      .term-data {
        line-height: 1.5;
        text-align: justify;
      }

      &.contact-card {
        padding: var(--space-xl);
        background-color: var(--color-brand-blue);
        color: var(--color-white);
        border-radius: var(--radius-card-md);
        .term-title {
          margin-top: 0;
          color: var(--color-white);
        }
        .contact-card--actions {
          margin-top: var(--space-lg);
          @include u.flex(column, center, flex-start, 1rem);

          .button-phone {
            @include u.custom-button(
              var(--color-brand-blue),
              var(--color-white)
            );
            font-weight: 600;
            .phone-number {
              margin-left: var(--space-md);
              display: inline-block;
              white-space: nowrap;
            }
          }
          .button-mail {
            @include u.custom-button(
              var(--color-white),
              transparent,
              1px solid var(--color-white)
            );
          }
        }
      }
    }
  }
}
