@use "utils" as u;

.c-header {
  position: fixed;
  z-index: 10;
  width: 100%;

  &--content {
    background-color: var(--color-brand-blue);
    @include u.flex(row, space-between, center, 0);
    position: relative;
    z-index: 11;
    transition: all 100ms ease-out;
    padding: var(--space-lg) 100px 0;
    @include u.style-up-to(mobile) {
      padding: 30px 30px 0;
      .c-header--book-btn {
        @include u.button-compact();
      }
    }
    &.is-big {
      padding: 80px 100px 0;
      @include u.style-starting-from(desktop) {
        .c-header--logo img {
          height: 6rem;
        }
      }
      @include u.style-up-to(widescreen) {
        padding: 80px 50px 0;
        .c-header--logo img {
          height: 5rem;
        }
      }
      @include u.style-up-to(mobile) {
        padding: 80px 30px 0;
        .c-header--logo img {
          height: 4rem;
        }
      }
    }

    &.is-open {
      background-color: var(--color-white);
      .c-header--book-btn {
        @include u.custom-button(var(--color-white), var(--color-brand-blue));
        @include u.button-compact();
      }
    }
  }

  &--logo {
    display: flex;
    img {
      height: 54px;
      margin: auto;
      transition: all 100ms ease-out;
    }
  }

  &--nav {
    @include u.flex(row, space-between, center, var(--space-sm));
    text-align: center;
    padding: 0 5rem;

    &-link {
      @include u.custom-button(var(--color-white));
      @include u.button-compact();
    }
  }

  &--book-btn {
    @include u.custom-button(var(--color-brand-blue), var(--color-white));
    text-align: center;
  }

  &--menu {
    position: fixed;
    top: 0;
    background-color: var(--color-white);
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;

    // ESTADO INICIAL (Oculto)
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition:
      transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
      visibility 0.4s ease-in-out;

    &.is-open {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }

    &-links {
      @include u.flex(column, space-between, center, var(--space-lg));

      padding: var(--space-xxl) var(--space-lg);
      margin: auto;
      // margin-top: var(--space-xl);

      &_item {
        @include u.custom-button(var(--color-brand-blue), var(--color-white));
        font-size: var(--font-h3);
        padding: 0.1rem auto;

        position: relative; // 👈 Vital para que el :before se posicione respecto al link
        overflow: visible; // Asegúrate de que no corte la flecha si el botón tiene overflow hidden
        font-weight: 400;

        &.active-link {
          border-radius: 0;
          border: transparent;
          background: linear-gradient(
            180deg,
            transparent 90%,
            var(--color-brand-pink) 10%
          );
        }

        @include u.style-up-to(tablet) {
          font-size: var(--font-sm);
        }
      }
    }

    &-admin {
      margin: 0 var(--space-lg) var(--space-md) auto;
    }

    &-button {
      @include u.flex(row, center, flex-start);
      width: 100%;
      position: absolute;
      z-index: 25;
      top: 0;
      z-index: 15;
      svg {
        height: 100%; // Alto total que descuelga
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
      }
      button {
        @include u.custom-button(var(--color-brand-blue));
        @include u.button-compact();
        padding: 10px;
        margin: auto;
        z-index: 2;
      }
      &.is-big {
        height: 80px;
      }
    }
  }

  &--wave {
    position: absolute;
    top: 99%; // Se posiciona exactamente donde termina el c-header
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 10; // Asegura quedar por encima de las secciones de abajo (cards, textos, etc.)
    pointer-events: none; // Evita que la curva transparente bloquee clics en elementos de abajo

    svg {
      display: block;
      width: 100%;
      height: 50px; // Altura de la curva
    }
  }
}

@keyframes fadeInArrow {
  0% {
    opacity: 0;
    transform: translateX(-15px); // Empieza lejos
  }
  60% {
    transform: translateX(3px); // Se pasa un poco (el rebote)
  }
  80% {
    transform: translateX(-1px); // Vuelve apenas hacia atrás
  }
  100% {
    opacity: 1;
    transform: translateX(0); // Reposo final
  }
}
