table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #ffd9e1;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-detail-wrapper.expanded {
  padding: .5rem 1rem 1rem;
}

.cost-detail {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.costs-header {
  display: flex;
  justify-content: space-between;
}

.costs-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.cost-image {
  width: 10rem;
  height: auto;
  margin: 1rem .5rem;
}