<div class="costs-header">
  <h3>{{"COSTS.TITLE" | translate }}</h3>
  @if(!showForm) {
    <form class="costs-header--filters" [formGroup]="filters">
      <mat-form-field>
        <mat-label>{{'COMMON.SEARCH' | translate}}</mat-label>
        <input matInput formControlName="keyword">
            <button
              mat-icon-button
              matSuffix
              (click)="resetTypeFilter('keyword'); $event.stopPropagation()">
              <mat-icon>close</mat-icon>
            </button>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'COMMON.TYPE' | translate}}</mat-label>
        <mat-select formControlName="costType" multiple>
          @for (costType of costsTypes; track costType) {
            <mat-option [value]="costType">{{('COSTS.TYPES_DESCRIPTION.'+(costType | uppercase)) | translate}}</mat-option>
          }
        </mat-select>
        <button
          mat-icon-button
          matSuffix
          (click)="resetTypeFilter('costType'); $event.stopPropagation()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>
  <button mat-raised-button (click)="showForm = true">{{'COSTS.NEW' | translate}}</button>
  }
</div>
<div class="costs-container">

  @if (!showForm) {
  <table mat-table [dataSource]="filteredCostList" multiTemplateDataRows>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{'COMMON.NAME' | translate}}</th>
      <td mat-cell *matCellDef="let cost">{{cost['name']}}</td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>{{'COMMON.TYPE' | translate}}</th>
      <td mat-cell *matCellDef="let cost">{{ ('COSTS.TYPES_DESCRIPTION.'+(cost['type'] | uppercase)) | translate}}
      </td>
    </ng-container>
    <ng-container matColumnDef="totalCost">
      <th mat-header-cell *matHeaderCellDef>{{'COMMON.TOTAL_COST' | translate}}</th>
      <td mat-cell *matCellDef="let cost">{{cost['providerCost'] + cost['productionCost'] | currency:'US$ ' }}
      </td>
    </ng-container>
    <ng-container matColumnDef="earnPercentage">
      <th mat-header-cell *matHeaderCellDef>{{'COMMON.EARN_PERCENTAGE' | translate}}</th>
      <td mat-cell *matCellDef="let cost">{{cost['earnPercentage']}}%</td>
    </ng-container>
    <ng-container matColumnDef="finalPrice">
      <th mat-header-cell *matHeaderCellDef>{{'COMMON.FINAL_PRICE' | translate}}</th>
      <td mat-cell *matCellDef="let cost">{{cost['finalPrice'] | currency:'US$ '}}</td>
    </ng-container>
    <!-- icono de flecha para expandir -->
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let cost">
        <button mat-icon-button aria-label="expand row" (click)="toggle(cost); $event.stopPropagation()"
          class="toggle-button" [class.toggle-button-expanded]="expandedElements.includes(cost._id || '')">
          @if (expandedElements.includes(cost._id || '')) {
          <mat-icon>keyboard_arrow_up</mat-icon>
          } @else {
          <mat-icon>keyboard_arrow_down</mat-icon>
          }
        </button>
      </td>
    </ng-container>
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let cost" [attr.colspan]="columnsToDisplayWithExpand.length">
        <div class="element-detail-wrapper" [class.expanded]="expandedElements.includes(cost._id || '')"
          [@detailExpand]="expandedElements.includes(cost._id || '') ? 'expanded' : 'collapsed'">
          <p class="cost-description">{{cost.description}}</p>
          
          @if(cost.detail) {
            <div [innerHTML]="cost.detail | safeHtml"></div>
          }
          @if (cost.tags?.length) {
                <mat-chip-set class="example-chip">
                  @for (tag of cost.tags; track $index) {
                    <mat-chip class="example-box" cdkDrag>{{tag}}</mat-chip>
                  }
                </mat-chip-set>
              }
          <div class="cost-detail">
            <p><b>{{'COSTS.GUESTS_COVERAGE' | translate}}: </b>
              {{cost.guestsCoverage ? cost.guestsCoverage + ' ' + ('COMMON.PEOPLE' | translate):
              ('COSTS.FULL_EVENT' | translate)}}
            </p>
            <p><b>{{'COSTS.PROVIDER_COST' | translate}}: </b> {{cost.providerCost | currency:'US$ '}}</p>
            <p><b>{{'COSTS.PRODUCTION_COST' | translate}}: </b> {{cost.productionCost | currency:'US$ '}}</p>
            @if(cost.deliveryRequired) {
            <p><b>{{'COSTS.DELIVERY' | translate}}</b></p>
            }
            @if(cost.multipleAllowed) {
            <p><b>{{'COSTS.MULTIPLE' | translate}}</b></p>
            }
          </div>
          @if (cost?.images?.length) {
          <div class="costs-images">
            @for (image of cost.images; track $index) {
            <img mat-card-image [src]="image | apiImageUrl" alt="{{ cost.name + $index}}" class="cost-image">
            }
          </div>
          }

          <div class="costs-actions">
            <button mat-raised-button color="accent" (click)="openDeleteDialog(cost)">{{'COMMON.DELETE' |
              translate}}</button>
            <button mat-raised-button (click)="toggleEditForm(cost)">{{'COMMON.EDIT' | translate}}</button>
          </div>

        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr mat-row *matRowDef="let cost; columns: columnsToDisplayWithExpand;" class="element-row"
      [class.expanded-row]="expandedElements.includes(cost._id || '')" (click)="toggle(cost)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>
  } @else {
  <app-costs-form [cost]="costToEdit" (submit)="saveCost($event)" (cancel)="toggleEditForm()"></app-costs-form>
  }
</div>