<div #glideRef class="glide c-carousel">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      @for (item of items; track $index; let index = $index) {
        <li class="glide__slide" [class.unique]="options.perView == 1">
          <ng-container *ngTemplateOutlet="cardTemplate; context: { $implicit: item }"></ng-container>
        </li>
      }
    </ul>
  </div>

  @if(items.length > 1 && options.arrows) {
  <div class="glide__arrows c-carousel--arrows" data-glide-el="controls">
    <button class="c-carousel--arrows-control glide__arrow glide__arrow--left" data-glide-dir="<">
      <mat-icon fontIcon="chevron_left"></mat-icon>
    </button>
    <button class="c-carousel--arrows-control glide__arrow glide__arrow--right" data-glide-dir=">">
      <mat-icon fontIcon="chevron_right"></mat-icon>
    </button>
  </div>
  }

  @if(items.length > 1 &&options.dots) {
    <div class="glide__bullets c-carousel--dots" data-glide-el="controls[nav]">
      @for (item of items; track $index; let i = $index) {
        <button 
          class="c-carousel--dots-control" 
          [attr.data-glide-dir]="'=' + i"
          [attr.aria-label]="'Ir a la diapositiva ' + (i + 1)">
        </button>
      }
    </div>
  }

  @if(options.counter) {
    <span class="c-carousel--counter">{{this.currentSlide}}/{{items.length}}</span>
  }
</div>