<div #glideRef class="glide nomad-carousel">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      @for (item of items; track $index; let index = $index) {
        <li class="glide__slide">
          <ng-container *ngTemplateOutlet="cardTemplate; context: { $implicit: item }"></ng-container>
        </li>
      }
    </ul>
  </div>

  <div class="glide__arrows nomad-arrows" data-glide-el="controls">
    <button class="nomad-arrow glide__arrow glide__arrow--left" data-glide-dir="<">Anterior</button>
    <button class="nomad-arrow glide__arrow glide__arrow--right" data-glide-dir=">">Siguiente</button>
  </div>

  <div class="glide__bullets nomad-dots" data-glide-el="controls[nav]">
    @for (item of items; track $index; let i = $index) {
      <button 
        class="nomad-dot" 
        [attr.data-glide-dir]="'=' + i"
        [attr.aria-label]="'Ir a la diapositiva ' + (i + 1)">
      </button>
    }
  </div>
</div>