<section class="s-story-banner">
  
  <div class="s-story-banner--header">
    <h2 class="s-story-banner--header-title">
      {{'PUBLIC.BANNERS.STORY.TITLE' | translate}}
    </h2>
    <p class="s-story-banner--header-subtitle">
      {{'PUBLIC.BANNERS.STORY.SUBTITLE' | translate}}
    </p>
  </div>

  <a class="s-story-banner--action" [routerLink]="'/story'">
    {{'PUBLIC.BANNERS.STORY.BUTTON' | translate}}
  </a>
  
  <div class="s-story-banner--carousel">
    <app-carousel [items]="historiasPics" [options]="carouselOptions">
      <ng-template let-foto>
        <div class="story-photo-card">
          <img [src]="foto.url" [alt]="foto.alt" class="story-img">
        </div>
      </ng-template>
    </app-carousel>
  </div>


</section>