<section class="login">
  <h2>{{ 'LOGIN.TITLE' | translate }}</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">

    @if (emailControl) {
    <app-form-control [control]="emailControl" label="{{ 'COMMON.EMAIL' | translate }}" type="email">
    </app-form-control>
    }
    @if (passwordControl) {
    <app-form-control [control]="passwordControl" label="{{'COMMON.PASSWORD' | translate }}" type="password">
    </app-form-control>
    }

    <button mat-button type="submit" [disabled]="loginForm.invalid">{{ 'LOGIN.TITLE' | translate }}</button>

  </form>
</section>