<form [formGroup]="expenseForm" class="expense-main">
  <app-form-control class="form-control" [control]="getControl('name')" label="{{ 'COMMON.NAME' | translate }}"
    type="text">
  </app-form-control>

  <app-form-control class="form-control" [control]="getControl('cost')" label="{{ 'EXPENSES.FORM.COST' | translate }}"
    prefix="US$" type="number">
  </app-form-control>


  <div class="form-control montly-check">
    <mat-slide-toggle formControlName="monthly" labelPosition="before">
      {{"EXPENSES.FORM.MONTHLY" | translate}}
    </mat-slide-toggle>
  </div>

  <div class="form-control">
    @if(!getControl('monthly').value) {
    <app-form-control [control]="getControl('amortization')" label="{{ 'EXPENSES.FORM.AMORTIZATION' | translate }}"
      suffix="{{'EXPENSES.MONTHS' | translate}}" type="number">
    </app-form-control>
    }
  </div>

  <div class="form-actions">
    <button mat-raised-button color="accent" type="button" (click)="onCancel()">
      {{ 'COMMON.CANCEL' | translate}}
    </button>
    <button mat-raised-button color="primary" type="button" (click)="onSubmit()" [disabled]="expenseForm.invalid">
      {{'COMMON.SAVE' | translate}}
    </button>
  </div>
</form>