<div class="c-our-story">
  <div class="c-our-story--hero">
    <!-- // TODO - cambiar imagen -->
    <img class="c-our-story--hero-image" src="images/picnics/photo_carrousel_home_17.jpg" alt="Nuestra historia">
    <div class="c-our-story--hero-overlay"></div>
  </div>
  <div class="c-our-story--marquees">
    <svg viewBox="0 0 1200 220" preserveAspectRatio="none" class="c-our-story--marquees__svg">
      <defs>
        <path id="wavePathDesktop" d="M -600,100 Q -450,60 -300,100 T 0,100 T 300,100 T 600,100 T 900,100 T 1200,100 T 1500,100 T 1800,100" />
        <path id="wavePathTablet" d="M -300,110 Q 0,60 300,110 T 900,110 T 1500,110" />
        <path id="wavePathMobile" d="M -100,90 Q 600,140 1300,90" />
      </defs>

      <g class="hide-mobile hide-tablet">
        <use href="#wavePathDesktop" class="c-our-story--marquees__background-ribbon" />
        <text class="c-our-story--marquees__text">
          <textPath #textPathRef href="#wavePathDesktop" startOffset="0px">
            <tspan #patternRef>{{'PUBLIC.OUR_STORY.MARQUEES' | translate}} </tspan>
            <tspan>{{'PUBLIC.OUR_STORY.MARQUEES' | translate}} </tspan>
            <tspan>{{'PUBLIC.OUR_STORY.MARQUEES' | translate}} </tspan>
            <tspan>{{'PUBLIC.OUR_STORY.MARQUEES' | translate}} </tspan>
          </textPath>
        </text>
      </g>

      <g class="hide-desktop hide-mobile">
        <use href="#wavePathTablet" class="c-our-story--marquees__background-ribbon" />
        <text class="c-our-story--marquees__text">
          <textPath #textPathRef href="#wavePathTablet" startOffset="0px">
            <tspan #patternRef>{{'PUBLIC.OUR_STORY.MARQUEES' | translate}} </tspan>
            <tspan>{{'PUBLIC.OUR_STORY.MARQUEES' | translate}} </tspan>
            <tspan>{{'PUBLIC.OUR_STORY.MARQUEES' | translate}} </tspan>
          </textPath>
        </text>
      </g>
      
      <g class="hide-tablet hide-desktop">
        <use href="#wavePathMobile" class="c-our-story--marquees__background-ribbon" />
        <text class="c-our-story--marquees__text">
          <textPath #textPathRef href="#wavePathMobile" startOffset="0px">
            <tspan #patternRef>{{'PUBLIC.OUR_STORY.MARQUEES' | translate}} </tspan>
            <tspan>{{'PUBLIC.OUR_STORY.MARQUEES' | translate}} </tspan>
            <tspan>{{'PUBLIC.OUR_STORY.MARQUEES' | translate}} </tspan>
          </textPath>
        </text>
      </g>
    </svg>
  </div>
  

</div>
