<div class="page-container">
  <!-- TODO -  Diseñar componente -->
  <div class="construction">
    <mat-icon class="construction--icon">construction</mat-icon>
    <h1>
      EN CONSTRUCCION
    </h1>
    <p>Seguimos trabajando por completar esta web</p>
  </div>
  
  <!-- <div class="wavy-marquee">
    <svg viewBox="0 0 1200 200" preserveAspectRatio="none">
      <defs>
        <path id="wavePath" 
          d="M -600,100 Q -450,20 -300,100 T 0,100 T 300,100 T 600,100 T 900,100 T 1200,100 T 1500,100 T 1800,100" />
      </defs>
      <use href="#wavePath" class="wavy-marquee__background-ribbon" />
      <text class="wavy-marquee__text">
        <textPath #textPathRef href="#wavePath" startOffset="0px">
          <tspan #patternRef>DISEÑO • CREATIVIDAD • DESARROLLO • EXPERIENCIA • INNOVACIÓN • </tspan>
          <tspan>DISEÑO • CREATIVIDAD • DESARROLLO • EXPERIENCIA • INNOVACIÓN • </tspan>
          <tspan>DISEÑO • CREATIVIDAD • DESARROLLO • EXPERIENCIA • INNOVACIÓN • </tspan>
          <tspan>DISEÑO • CREATIVIDAD • DESARROLLO • EXPERIENCIA • INNOVACIÓN • </tspan>
        </textPath>
      </text>
    </svg>
  </div> -->

</div>
