.c-places-carousel {
  // margin-top: 1rem;
  &--title {
    padding: 0 1rem;
  }

  &--slider {
    display: flex;
    padding: 1rem 1rem 2rem;
    overflow-x: scroll;
    align-items: stretch;
    gap: 2rem;

    &-card {
      min-width: 175px;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      background: rgba(233, 233, 233, 0.2274509804);
      border-radius: 20px;
      border: none;
      box-shadow:
        8px 8px 16px #d1d1d1,
        -8px -8px 16px #ffffff;

      &__see-more {
        &:hover {
          background: rgba(233, 233, 233, 0.2274509804);
          border-radius: 20px;
          border: none;
          box-shadow:
            8px 8px 16px #d1d1d1,
            -8px -8px 16px #ffffff;
          animation: riseUp 0.3s ease-out;
        }
        animation: riseDown 0.3s ease-out;
        padding: 1rem;
        color: inherit;
        text-decoration: none;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-icon {
          font-size: 20vw;
          width: 20vw;
          height: 20vw;
        }
      }
    }
  }
}

@keyframes riseUp {
  0% {
    background: inherit;
    box-shadow: none;
  }
  100% {
    background: rgba(233, 233, 233, 0.2274509804);
    box-shadow:
      8px 8px 16px #d1d1d1,
      -8px -8px 16px #ffffff;
  }
}

@keyframes riseDown {
  0% {
    background: rgba(233, 233, 233, 0.2274509804);
    box-shadow:
      8px 8px 16px #d1d1d1,
      -8px -8px 16px #ffffff;
  }
  100% {
    background: inherit;
    box-shadow: none;
  }
}
