<div class="c-place-dialog">
  <button mat-icon-button mat-dialog-close class="close-btn" type="button">
    <mat-icon>close</mat-icon>
  </button>

  @if (place.images?.length) {
    <div class="c-place-dialog--media">
      @for (image of place.images; track $index) {
        <img class="media-img" src="{{image | apiImageUrl}}" [alt]="place.name+$index">
      }
    </div>
  }
  <div class="c-place-dialog--content">
    <h1 class="c-place-dialog--title">{{place.name}}</h1>
    <div class="c-place-dialog--data">
      @if (place.tags?.length) {
       <div class="c-place-dialog--data-tags">
          @for (tag of place.tags; track $index) {
            <div class="place-tag">{{tag}}</div>
          }
        </div>
      }

      <p class="c-place-dialog--data-description">{{place.description}}</p>
      @if (place.detail) {
        <div class="c-place-dialog--data-detail" [innerHTML]="place.detail | safeHtml"></div>
      }
    </div>
    <div class="c-place-dialog--actions">
      <a class="c-place-dialog--actions-map" [href]="place.mapsLink" target="_blank">{{'PUBLIC.PLACES.CHECK_MAPS' | translate}}</a>
      <button class="c-place-dialog--actions-add" [mat-dialog-close]="true">{{'PUBLIC.PLACES.ADD' | translate}}</button>
    </div>
  </div>
</div>
