.place-container {
  display: flex;
  flex-wrap: wrap;
  /* Permite que los elementos se ajusten en pantallas pequeñas */
  gap: 16px;
  /* Espacio entre lista y mapa */

}

.place-basic {
  mat-expansion-panel-header {
    background: rgb(121, 121, 121);
  }
}

.place-title--zone {
  padding-right: 1rem;
  opacity: 0.8;
}

.places-list {
  flex: 1;
  /* Ocupa el mismo espacio que el mapa */
  min-width: 300px;
  /* Tamaño mínimo para la lista */
}

.places-map {
  flex: 1;
  min-width: 300px;
  height: 400px;
  /* Ajusta la altura del mapa */
}

.place-image {
  width: 10rem;
  height: auto;
  margin: 1rem .5rem;
}

.place-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

@media (max-width: 768px) {
  .place-container {
    flex-direction: column;
    /* Apila los elementos en pantallas pequeñas */
  }

  .places-map {
    height: 300px;
    /* Ajuste de altura en móviles */
  }
}