@if(pricesGroups$ | async; as priceGroups) {
  <div class="c-guests-prices">
    @for (group of priceGroups; track $index) {
      <button 
        type="button"
        class="guest-card"
        [class.selected]="selectedGroup === group"
        (click)="selectGroup(group)"
      >
        <div class="card-label">
          @if (group.minGuests === group.maxGuests) {
            {{ group.minGuests }} {{'COMMON.PEOPLE' | translate}}
          } @else {
            {{ group.minGuests }} – {{ group.maxGuests }} {{'COMMON.PEOPLE' | translate}}
          }
        </div>
        <div class="card-price">
          {{ group.price | number:'1.2-2' | currency: 'US$ '  }}
        </div>
      </button>
    }
  </div>
}
