<div class="c-admin page-container">
  <h4 class="c-admin--subtitle">
    <button mat-icon-button (click)="logout()">
      <mat-icon>first_page</mat-icon>
    </button>
    {{ "ADMIN.WELCOME" | translate: user }}
  </h4>

  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    @for (tab of tabs; track $index) {
      <a
        mat-tab-link
        [routerLink]="tab.link"
        (click)="activeLinkIndex = $index"
        [active]="activeLinkIndex === $index"
      >
        {{ tab.label | translate }}
      </a>
    }
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <div class="c-admin--container">
      <router-outlet></router-outlet>
    </div>
  </mat-tab-nav-panel>
</div>
