.c-admin {
  padding: 120px 0 1rem;
  &--subtitle {
    button {
      margin-right: 1rem;
    }
    margin: 0rem 2.5rem 1rem;
    display: flex;
    align-items: center;
  }
  &--container {
    padding: 1rem 2rem 2rem;
    min-height: 55vh;
  }
}
