<section class="s-places-banner">
  
  <div class="s-places-banner--media-wrapper">
    <div class="image-container">
      <video 
        autoplay 
        loop 
        muted 
        playsinline 
        preload="auto"
        poster="images/picnics/foto_lugares_drone_edit.jpg" 
        class="banner-video">
        <source src="videos/video_lugares_drone_edit.webm" type="video/webm">
        <source src="videos/video_lugares_drone_edit.mp4" type="video/mp4">
        Tu navegador no soporta videos incrustados.
      </video>

    </div>
  </div>

  <div class="s-places-banner--content">
    <h2 class="places-title">{{'PUBLIC.BANNERS.PLACES.TITLE' | translate}}</h2>
    <p class="places-desc" [innerHTML]="'PUBLIC.BANNERS.PLACES.TEXT' | translate">
    </p>
    <a routerLink="/places" class="btn-nomada-purple">
      {{'PUBLIC.BANNERS.PLACES.BUTTON' | translate}}
    </a>
  </div>

</section>