// src/styles.scss
@use "styles/variables" as *;
@use "styles/mixins" as *;
@use "styles/utilities" as *;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-main;
}

.construction {
  padding: 6rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--icon {
    color: #8f0045;
    font-size: 10vw;
    height: 10vw !important;
    width: 10vw !important;
  }
}
