.production-form {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
}

.production-control {
  width: 15%;
}

app-form-control {
  width: 45%;
}

.production-control-textarea {
  width: 90%;

}