@use "sass:map";

$radii: (
  button: 100px,
  // Para los botones tipo "píldora" (Reserva ahora)
  card-sm: 16px,
  // Fotos de la galería inferior
  card-md: 40px,
  // Tarjetas de beneficios e "Historias"
  speech-bubble: 50px, // El radio asimétrico de tus globos de reseña
);

@function get-radius($key) {
  @return var(--radius-#{$key});
}
