@use "sass:map";

$radii: (
  button: 100px,
  polaroid: 8px,
  card-sm: 16px,
  card-md: 40px,
  speech-bubble: 50px,
  card-xl: 70px, // El radio asimétrico de tus globos de reseña
);

@function get-radius($key) {
  @return var(--radius-#{$key});
}
