@mixin custom-button(
  $text-color,
  $bg-color: transparent,
  $border: 1px solid transparent,
  $border-radius: var(--radius-button, 6px)
) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-color;
  color: $text-color;
  border: $border;
  border-radius: $border-radius;
  padding: 0.6rem 1.5rem;
  font-size: var(--font-sm, 14px);
  font-weight: 400;
  letter-spacing: 0.3px;
  cursor: pointer;
  text-decoration: none; // Por si lo aplicás a etiquetas <a>
  transition: all 0.2s ease-in-out;

  &:hover {
    filter: brightness(1.1); // Brillo sutil automático al pasar el mouse
    transform: translateY(-1px); // Pequeño efecto interactivo
    background-color: if(
      $bg-color == transparent,
      rgba(150, 150, 150, 0.3),
      none
    );
  }

  &:active {
    transform: translateY(0);
    background-color: if(
      $bg-color == transparent,
      rgba(150, 150, 150, 0.3),
      transparent
    );
  }

  &:disabled {
    background-color: var(--color-text-muted, #ccc);
    color: rgba(255, 255, 255, 0.6);
    cursor: not-allowed;
    filter: none;
    transform: none;
  }
}

@mixin button-compact() {
  padding: 0.3rem 0.7rem;
  font-size: var(--font-small, 14px);
  font-weight: 300;
}
