@use "sass:map";
$colors: (
  brand-blue: #4b4ceb,
  brand-blue50: #4b4ceb30,
  brand-lime: #e5f000,
  brand-purple: #9643cc,
  brand-coral: #ff5a2c,
  brand-pink: #e98893,
  bg-cream: #faeee5,
  bg-softcream: #fff7f0,
  text-dark: #1a1a1a,
  text-muted: #555555,
  black: #232323,
  white: #ffffff,
  white50: #ffffff40,
  soft-gray: #8e8e93,
  outline: #ddd3c6,
);

// Función utilitaria para acceder fácil
@function get-color($key) {
  @return var(--color-#{$key});
}
