@use "sass:map";
$spacings: (
  xs: 0.25rem,
  // 4px
  sm: 0.5rem,
  // 8px
  md: 1rem,
  // 16px
  lg: 1.5rem,
  // 24px
  xl: 3rem,
  // 48px  -> Separación interna de tarjetas
  xxl: 6rem, // 96px  -> Separación entre secciones grandes
);

@function get-space($key) {
  @return var(--space-#{$key});
}
