@use "sass:map";

@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");
@import url("https://use.typekit.net/iyv1kbg.css");
@import url("https://use.typekit.net/olv3xsk.css");

$font-sizes: (
  small: 0.8rem,
  // 16px
  body: 1rem,
  // 16px
  h4: 1.25rem,
  // 20px
  h3: 1.75rem,
  // 28px -> Títulos de secciones secundarias
  h2: 2.5rem,
  // 40px -> ¿Por qué elegirnos?
  h1: 4.5rem, // 72px -> El gigante del Hero
);

$font-main: "elza", "Google Sans Flex", sans-serif;
$font-title: "noka", "DM Sans", sans-serif;

@function font-size($key) {
  @return var(--font-#{$key});
}
